body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-title {
  font-weight: 700;
  font-size: 18px;
}

.button-text {
  font-size: 14px;
  font-weight: 700;
}

.image-caption {
  font-size: 14px;
  font-weight: 500;
}

.main-title {
  font-size: 37px;
  font-weight: 700;
}

.subheader-text {
  font-size: 20px;
  font-weight: 700;
}

.body-text {
  font-size: 16px;
  font-weight: 500;
  text-align: justify;
}

.project-card-text {
  overflow: visible;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: 75px;
  text-align: justify;
}

.project-title {
  font-size: 20px;
  font-weight: 700;
  overflow: visible;
  text-overflow: unset;
  display: block;
  white-space: normal;
  height: 60px;
}

.project-subtitle {
  font-size: 0.85rem; 
  color: #555454; 
  margin-top: 1px; 
  margin-bottom: 0px;
  font-style: italic; 
  text-align: left;
}

@media only screen and (max-width: 800px) {
  .project-title,
  .project-card-text {
    height: auto !important;      /* Let height grow naturally */
    overflow: visible !important; /* Show full text */
    display: block !important;
    -webkit-line-clamp: unset !important; /* Remove clamping */
  }

  .project-card {
    width: 100% !important; /* Make project cards full width on small screens */
  }
}
