
/* Icons */

.right-arrow-icon {
  width: 16px;
  height: 16px;
  margin-top: 1px;
}

.footer-icon {
  width: 20px;
  height: 20px;
}

a.icon-link {
  transition: transform 200ms ease-in-out;
}

a.icon-link:hover {
  cursor: pointer;
  stroke-width: 5;
  margin: 0;
  transform: rotate(15deg);
}


/* Navbar Styling */

.navbar {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-title-link {
  color: black;
  text-decoration: none;
}

.nav-title-link:hover {
  text-decoration: underline;
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  .navbar {
    padding: 20px;
    background-color: white;
  }

  #footer {
    flex-direction: column; /* Stack items vertically */
    padding: 20px;
    text-align: center; /* Center text on small screens */
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    margin-bottom: 16px;
  }

  a.button {
    flex-direction: row;
    flex-wrap: wrap; /* Wrap content if too long */
    text-align: center;
    justify-content: center;
  }
}

/* Paragraph Styling (add this if not already present) */
p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 100%;
  margin: 0 0 20px 0;
}

/* Button Styling */
a.button {
  padding: 8px 16px;
  border: 3px solid #141414;
  border-radius: 50px;
  color: black;
  text-decoration: none;
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
  transition: all 0.3s ease;
}

a.button:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}

/* Footer Styling */
#footer {
  width: 100%;
  display: flex;
  padding: 30px 50px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* Link Styling */
a.no-underline {
  text-decoration: none;
  color: black;
}

a.no-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}
